GitRepo:                                            # Required.
  name: fooGitRepo                                  # Name of the GitRepo resource. Defaults to GitRepoRes.
  gitProvider: productapi                              # Required. Name of the SCM integration which will be used to fetch the SCM. repository.
  path: eswaribala/intelartifactoryjan2022projects  # Required. Path to the SCM repository.
  branches:
    exclude: 'master'                               # Regex pattern to exclude branches.
    include: ^{{gitBranch}}$                        # Regex pattern to include branches.
 
artifactoryIntegration: productapi                        # Required. Name of the artifactory integration using which the docker image will be pushed.
 
Image:                                              # Required.
  name: ImageRes                                    # Name of the Image resource. Defaults to ImageRes.
  sourceRepository:  veb2022.jfrog.io/inv-1-veb-docker                           # Required. Name of the docker repository on artifactory
  autoPull: true                                   # Defaults to true.
 
DockerBuild:                                        # Required.
  name: traderbuild                                    # Name of the DockerBuild step. Defaults to DockerBuild.
  dockerImageName: traderappv2                              # Required. Name of the docker image getting built.
  dockerFileName: dockerfile                              # Required. Name of the Dockerfile.
  dockerFileLocation: '.'                           # Required. Path to Dockerfile.
  dockerImageTag: ${run_number}                     # Name of the docker image tag. Defaults to latest.
 
Pipeline:
  name: traderpipe                                        # Name of the pipeline. Defaults to Pipeline.
 
DockerPush:                                         # Required.
  name: traderpush                                     # Name of the DockerPush step. Defaults to DockerPush.
  targetRepository: inv-1-veb-docker                          # Required. Name of the artifactory repository where the image will be pushed to.
 
BuildInfo:                                          # Optional, if the BuildInfo needs to be published.
  autoPublishBuildInfo: true                        # Defaults to true.
  name: traderbuild                             # Name of the BuildInfo resource. Defaults to BuildInfo.
